.chat_area:before {
  float: left;
  clear: both;
}

.chat_area {
  position: relative;
}

.chat_area * {
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.chat_area .top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.chat_area .top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.chat_area .top_menu .title {
  text-align: center;
  font-size: 20px;
}

.chat_area .chat_window {
  height: 800px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.chat_area .messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 647px;
  overflow: scroll;
}

.chat_area .messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;

  opacity: 0;
}

.chat_area .messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}

.chat_area .messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}

.chat_area .messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}

.chat_area .messages .message.left .text {
  color: #c48843;
  text-align: left;
}

.chat_area .messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}

.chat_area .messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}

.chat_area .messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}

.chat_area .messages .message.right .text {
  color: #45829b;
  text-align: right;
}

.appeared {
  opacity: 1 !important;
}

.chat_area .messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}

.chat_area .messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}

.chat_area .messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.chat_area .messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}

.chat_area .messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}

.chat_area .messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.chat_area .bottom_wrapper {
  width: 100%;
  background-color: #fff;
  padding: 0 20px 20px;
}

.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
}

.chat_area .bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  outline-width: 0;
  color: gray;
}

.chat_area .bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}

.chat_area .bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}

.chat_area .bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.notVisible {
  opacity: 0;
}

.blocked {
  opacity: 0.5;
  pointer-events: none;
}

.input_and_send{
  min-height: 50px;
}
